@font-face {font-family: "iconfont";
  src: url('./iconfont.eot'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1643349_ux1hogsi6nj.eot?t=1581927126042#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJwAAsAAAAABiQAAAIkAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAowTwE2AiQDCAsGAAQgBYRtBy4bcwXILrBt2JMAbbAghnHhkwCAiwiexvrN291TTd8domhWaeKhUyFByVACpWlIlsm3/3N5CMLm+WN5ilChL+S3nL40R8+fM7Qps8nJTbg1IMDa16yiVM1nuCqfuHf6J1Ag8wHlugetMagLqIsDKaC9MYqsgEJuGLvgBT4m0LSgIXllttknCgp7VSDeOpaWKBS8isISdaHacLCITyrq6UP6wsfo+/HPSdRJKpldcv351EwMfnNSshmPA4KPgI5XkLEnoRC3G6NXpQXjpDVPZ6xIKIrgt9kMW8RRjYL9dXZ+G8zBWPCbt1KABI81Ugu9SaVE60m6lVpI/9wMJ3ze8fAtv3NiNGA78pf8V37j/vtur37mf71VwK//E9UVGerr2oJ/IB7YVQypbU5FEzf2J619NzQ1MYOdQ39TdZMTJkPdZIK9Zj5DVrdGFnYPFS2nUVV3Hk275sdbRlhalAZ23AFC3yeSrq/I+r7Jwv6iYuofVf3IaLobowtbNuJV6TKjJmiCfgPHoFC5VinFhVu0Tr7GeWnEPSLHTgC6B0flxBxD5CW2xGerJ6JAMQUwA8+h7xNETC4a0rJFon778HnTm1oGBYmSyxjSCGQCuhvgMJCQCgaLUuXzW8hy4tNwR0dd9AixmDM+6GrpDCDnqnBQx6O8Ejuz9AihAIWRAJiBecjnIyBqnudCBtFiTwhH+tpOLzVU1dpeE/zdIWiy9Smcyqy8pAATCQAA') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.trending-iconhome:before {
  content: "\e8cf";
}

